<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm your email</title>
  </head>
  <body style="margin: 0; padding: 0; text-align: center;">
    <div style="text-align: center;">
    <img src="https://res.cloudinary.com/dpzs8insu/image/upload/v1734942382/pqriminqajaaihdvxf7v.png" width="50" height="20"
     alt="Water Glass" style="display: inline-block;" />
    </div>
    <h2 style="color: #407BFF; text-align: center;">Hello, dear Water-Tracker user!</h2>
    <p style="text-align: center;">This email is the last step to finalize your registration</p>
    <p style="text-align: center;">Please click <a href="{{link}}"><strong>here</strong></a> to activate your account and start using our app!<br />
      <strong>Note, token is valid only for 1 day minutes!</strong>
    </p>
    <p style="text-align: center;"><i>If the link above does not work, copy this url and paste into your browser:</i><br />
    <pre>{{link}}</pre>
    </p>
  </body>
</html>
