# Цей блок вказує, що для доступу до операції потрібна аутентифікація за допомогою Bearer Token (bearerAuth), який був визначений у /docs/openapi.yaml
# /docs/openapi.yaml

openapi: 3.1.0
info:
  version: 1.0.0
  title: Water tracker app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of Water tracker app
tags:
  - name: User
    description: Operations about users.
  - name: Auth
    description: Auth operations.
  - name: Water
    description: Water operations.
servers:
  - url: https://api.water-tracker.online
paths:
  #додаємо запити по user
  /users:
    get:
      $ref: ../swagger/paths/users/get.yaml
    patch:
      $ref: ../swagger/paths/users/patch.yaml
  /users/avatar:
    patch:
      $ref: ../swagger/paths/users/avatar/patch.yaml
  #додаємо всі запити по auth
  /auth/register:
    post:
      $ref: ../swagger/paths/auth/register.yaml
  /auth/login:
    post:
      $ref: ../swagger/paths/auth/login.yaml
  /auth/logout:
    post:
      $ref: ../swagger/paths/auth/logout.yaml
  /auth/refresh:
    post:
      $ref: ../swagger/paths/auth/refresh.yaml
  /auth/send-reset-email:
    post:
      $ref: ../swagger/paths/auth/send-reset-email.yaml
  /auth/reset-pwd:
    post:
      $ref: ../swagger/paths/auth/reset-pwd.yaml
  /auth/get-oauth-url:
    get:
      $ref: ../swagger/paths/auth/get-oauth-url.yaml
  #додаємо всі запити по Water(water)
  /water:
    post:
      $ref: ../swagger/paths/water/post.yaml
  /water/rate:
    patch:
      $ref: ../swagger/paths/water-rate/patch.yaml
  /water/today:
    get:
      $ref: ../swagger/paths/water-today/get.yaml
  /water/month:
    get:
      $ref: ../swagger/paths/water-month/get.yaml
  /water/day:
    get:
      $ref: ../swagger/paths/water-day/get.yaml
  /water/{waterNoteId}:
    patch:
      $ref: ../swagger/paths/water/{waterNoteId}/patch.yaml
    delete:
      $ref: ../swagger/paths/water/{waterNoteId}/delete.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
